section.about {
   
   
}


section.about h2 {
    margin-bottom: 16px;
    text-align: center;
    
}

section.about figure {
    height: 300px;
}


section.about figure img {
    height: 300px;
    border-radius: 10px;
}


section.about ul {
    padding: 32px;
    text-align: left;
    font-size: large;
}