section.hero {
    min-height: calc(100vh - 80px);
    background-color: transparent;
    border:none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: top;
    gap: 36px;
    border-radius: 0;
    margin-inline: 0;
    margin-top: 0;
    background-image: url(../public/bimmerbakgrunn.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section.hero div.hero-text {
    display: grid ;
    gap: 16px;
}

section.hero h1 {
    font-size: 2.8rem;
    color: var(--accent);
    font-family: Arial, Helvetica, sans-serif;
}

section.hero div.hero-text p {
     font-size: 1.3rem;
     color: var(--black);
     width: 40%
}

/*section.hero h1, section.hero p {
    height: fit-content;
} */

/*"section.hero button 
{
    background-color: rgb(64, 62, 71);
    text-decoration: none;
    border: 2px solid rgb(116, 120, 130);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 2px 2px 3px rgb(23, 25, 30);
}

section.hero button a{
    text-decoration: none;
    
} "*/