@import"./header.css";
@import"./hero.css";
@import"./about.css";
@import"./project.css";
@import"./buttons.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    color: rgb(191, 210, 215);
    background-color: rgb(23, 23, 23);
    overflow-x: hidden;
}

main{
    min-height: calc(100vh - 80px);
    padding-inline: 64px;
    display: grid;
    gap: 64px;
     
}
 section{
     /*border: 2px solid black ; */
     display: flex;
     align-items: center;
     padding: 80px;
     background-color: rgb(98, 97, 96);
     border-radius: 16px;

 }

section :last-of-type{
    margin-bottom: 64px;
}
    

 

